<div>
    <table border="1" style="font-family: Gotham, sans-serif;
            background: #fcfcfc; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
        <tr>
            <th style="background: #d3d3d3">Transaction Count</th>
            <th style="background: #d3d3d3">Unconfirmed Balance</th>
            <th style="background: #d3d3d3">Balance</th>
        </tr>
        <tr>
            <td>{{ wallet_dict.tx_count }}</td>
            <td>{{ wallet_dict.unconfirmed_balance }}</td>
            <td>{{ wallet_dict.balance }}</td>
        </tr>
    </table>
</div>  
<div>
    <table border="1" style="font-family: Gotham, sans-serif;
            background: #fcfcfc; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
        <tr>
            <th style="background: #d3d3d3">Account</th>
            <th style="background: #d3d3d3">Category</th>
            <th style="background: #d3d3d3">Amount</th>
            <th style="background: #d3d3d3">Time Received</th>
        </tr>
    {% for tx in transactions_list %}
        <tr>
            <td>{{ tx.account }}</td>
            <td>{{ tx.category }}</td>
            <td>{{ tx.amount }}</td>
            <td>{{ tx.time_received }}</td>
        </tr>
    {% endfor %}
    </table>
</div>  